.gameScreen__board {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;

}
.gameScreen__front {
    width: 95px;
    height: 133px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 5px grey;
    position: absolute;
}

.gameScreen__card {
    width: 95px;
    height: 133px;
    cursor: pointer;
    position: relative;
}

.gameScreen__card.flipped {
    transform-style: preserve-3d;
    transition: transform 0.5s ease-in-out;
    transform: rotateY(180deg);
}
.gameScreen__front, .gameScreen__back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.gameScreen__back {
    width: 95px;
    height: 133px;
    background-image: url(img/рубашка.svg);
    transform: rotateY(180deg);
}

.gameScreen__topboard {
    display: flex;
    justify-content: space-between;
    padding-bottom: 35px;
}

.gameScreen__button {
    width: 246px;
    height: 50px;
    background: #7ac100;
    border: none;
    border-radius: 12px;
    font-family: 'StratosSkyeng';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #ffffff;
}

.gameScreen__timer {
font-family: 'StratosSkyeng';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 32px;
font-feature-settings: 'pnum' on, 'lnum' on;
color: #FFFFFF;
}

.diamonds6 {
    background-image: url(img/cards/diamonds/6.svg);
}
.diamonds7 {
    background-image: url(img/cards/diamonds/7.svg);
}
.diamonds8 {
    background-image: url(img/cards/diamonds/8.svg);
}
.diamonds9 {
    background-image: url(img/cards/diamonds/9.svg);
}
.diamonds10 {
    background-image: url(img/cards/diamonds/10.svg);
}
.diamondsJ {
    background-image: url(img/cards/diamonds/J.svg);
}
.diamondsQ {
    background-image: url(img/cards/diamonds/Q.svg);
}
.diamondsK {
    background-image: url(img/cards/diamonds/K.svg);
}
.diamondsA {
    background-image: url(img/cards/diamonds/A.svg);
}

.spades6 {
    background-image: url(img/cards/spades/6.svg);
}
.spades7 {
    background-image: url(img/cards/spades/7.svg);
}
.spades8 {
    background-image: url(img/cards/spades/8.svg);
}
.spades9 {
    background-image: url(img/cards/spades/9.svg);
}
.spades10 {
    background-image: url(img/cards/spades/10.svg);
}
.spadesJ {
    background-image: url(img/cards/spades/J.svg);
}
.spadesQ {
    background-image: url(img/cards/spades/Q.svg);
}
.spadesK {
    background-image: url(img/cards/spades/K.svg);
}
.spadesA {
    background-image: url(img/cards/spades/A.svg);
}

.clubs6 {
    background-image: url(img/cards/clubs/6.svg);
}
.clubs7 {
    background-image: url(img/cards/clubs/7.svg);
}
.clubs8 {
    background-image: url(img/cards/clubs/8.svg);
}
.clubs9 {
    background-image: url(img/cards/clubs/9.svg);
}
.clubs10 {
    background-image: url(img/cards/clubs/10.svg);
}
.clubsJ {
    background-image: url(img/cards/clubs/J.svg);
}
.clubsQ {
    background-image: url(img/cards/clubs/Q.svg);
}
.clubsK {
    background-image: url(img/cards/clubs/K.svg);
}
.clubsA {
    background-image: url(img/cards/clubs/A.svg);
}

.hearts6 {
    background-image: url(img/cards/hearts/6.svg);
}
.hearts7 {
    background-image: url(img/cards/hearts/7.svg);
}
.hearts8 {
    background-image: url(img/cards/hearts/8.svg);
}
.hearts9 {
    background-image: url(img/cards/hearts/9.svg);
}
.hearts10 {
    background-image: url(img/cards/hearts/10.svg);
}
.heartsJ {
    background-image: url(img/cards/hearts/J.svg);
}
.heartsQ {
    background-image: url(img/cards/hearts/Q.svg);
}
.heartsK {
    background-image: url(img/cards/hearts/K.svg);
}
.heartsA {
    background-image: url(img/cards/hearts/A.svg);
}
