* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'StratosSkyeng';
    src: url('/fonts/statosskyeng-v1.001/Web fonts/stratosskyengweb-regular.woff2')
            format('woff2'),
        url('/fonts/statosskyeng-v1.001/Web fonts/stratosskyengweb-regular.woff')
            format('woff');
}

body,
html {
    height: 100%;
    background-color: #004980;
    display: flex;
    align-items: center;
    justify-content: center;
}
.startScreen__background {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #c2f5ff;
    border-radius: 12px;
    width: 480px;
    height: 459px;
}

.startScreen__title {
    font-family: 'StratosSkyeng';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #004980;
}

.startScreen__content {
    display: flex;
    gap: 24px;
    padding-top: 48px;
    padding-bottom: 68px;
}
input[type='radio'] {
    display: none;
}

.startScreen__label:has(input:checked) {
    border: 1px solid #0080c1;
}

.startScreen__label {
    width: 98px;
    height: 98px;
    background-color: #ffffff;
    border: 1px solid white;
    border-radius: 12px;
    font-family: 'StratosSkyeng';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0080c1;
}

.startScreen__label:hover {
    border: 1px solid #0080c1;
}

.startScreen__button {
    width: 246px;
    height: 50px;
    background: #7ac100;
    border: none;
    border-radius: 12px;
    font-family: 'StratosSkyeng';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #ffffff;
}

.startScreen__button:hover {
    border: 1px solid #0080c1;
}


